<div style="text-align:center">
    <img
    src="../assets/afrosoft.jpg"
    alt="LCO afrosoft"
      width="100"
      height="100"
      class="logo"
      />
      <br>
      <br>
 <h1 class="app-title-is-1">Afrosoft Todo List</h1>
 <br>
 <br>
 <div class="todos">
   <div class="todo">
    <input 
    type="input-text" 
    class ="input-text"
    placeholder="Type a todo"
    />
    <br>
    <br>
  <button class="add-btn">Add Todo</button>
  <div class ="List">
    <ul>
      <li>
        <input type="checkbox"name="IsDone">
        Task 1
  <br>
  <button class="delete">Remove</button>
  <button class="update">Submit</button>
      </li>
    </ul>
  </div>
  </div>
  
  
    